/* This css file contains the styles for all the components */

/* Import Different fonts from Google Fonts  */
@import url("https://fonts.googleapis.com/css2?family=Comforter&family=Roboto:wght@400;700&family=Satisfy&family=Source+Sans+Pro:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Bebas+Neue&family=M+PLUS+1+Code:wght@300&family=Montserrat:wght@200&family=Noto+Sans&family=Nunito:wght@200&family=Roboto+Mono:wght@200&family=Source+Sans+Pro:wght@200&display=swap");

/* Complete page styling  */
* {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

 /* Body Styling */
body {
  background-color: #f5f5f5;
}

/* Navbar Styling */
.navbar {
  background-color: #5884a4;
  height: 50px;
  top: 0;
  position: sticky;
}

/* Sidebar Styling */
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 130px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #5884a4; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
}

/* Insights Overview section styling */
.insights {
  margin-top: 50px;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 330px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  border-left: 3px solid white;
}

/* Styling the central section  */

.content {
  margin-top: 25px;
  margin-left: 200px;
  margin-right: 330px;
  padding-top: 20px;
}

.content #icon-id {
  float: left;
  margin-left: 10px;
  height: 30px;
  padding-right: 15px;
}

.filters {
  font-size: 1.1em;
  font-weight: bold;
}

/* Styling the sidebar  */

.sidebar #logo-id {
  height: 50px;
  width: 105px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sidebar #icon-id {
  border-radius: 50%;
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.info {
  padding-top: 10%;
  font-size: small;
  text-align: center;
  color: white;
}

.info h4 {
  font-family: "Roboto", sans-serif;
}

.info p {
  font-family: "Roboto", sans-serif;
}

hr {
  border: 1.5px solid #8fb0c7;
  border-radius: 5px;
  width: 70%;
  margin: auto;
}

.ruler {
  padding-top: 30%;
  padding-bottom: 20%;
}

.links img {
  height: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.links a {
  display: block;
  text-decoration: none;
  color: white;
  font: Arial;
  font-size: small;
  margin: auto;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 12px;
}

/* Styling the insights overview section  */

.insights img {
  height: 600px;
  padding-left: 45px;
}

#insight-heading {
  display: block;
  text-align: center;
  padding-bottom: 7%;
  padding-top: 10px;
}

.chart1 {
  display: flex;
  margin-left: 15%;
  background-color: #faf9f9;
  border-radius: 5%;
  height: 10%;
  width: 60%;
  padding: 5% 5%;
  margin-bottom: 10px;
  font-family: "Roboto Mono", monospace;
}

#chart-heads {
  color: #5884a4;
  font-size: 14px;
  text-align: center;
  margin: auto;
  font-family: "Roboto Mono", monospace;
}

#chart-heads h3 {
  font-family: "Roboto Mono", monospace;
  font-size: larger;
}

/* Central section  */

.filters-container {
  width: 90%;
  height: 20%;
  background-color: #fbf8f8;
  margin-top: 5%;
  margin-right: 2%;
  padding: 2%;
  padding-top: 4%;
  padding-left: 4%;
  border-radius: 15px;
}

.col {
  width: 25%;
  display: inline-block;
  padding-bottom: 5%;
  margin-right: 3%;
  align-content: flex-start;
  font-family: "Montserrat", sans-serif;
  font-size: smaller;
}

select {
  width: 50%;
  margin-left: 5%;
  border-radius: 10%;
}

.innerCol {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  padding-top: 7%;
}

.DateCol {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 5%;
  margin-right: 3%;
  align-content: flex-start;
  width: 12%;
  font-size: smaller;
  /* padding-top: 10%; */
}

.calendarImg {
  margin-top: 20%;
  float: left;
  margin-left: 10px;
  height: 20px;
  padding-right: 15px;
}

#goId {
  margin-left: 60%;
  text-decoration: none;
  color: black;
}

.wrap {
  display: flex;
  margin-top: 2%;
  margin-left: 1%;
  width: 100%;
  height: 100%; /* need to set height for this to work in Chrome */
}

.cell-wrap {
  vertical-align: top;
  height: 100%;
  padding-top: 10%;
}

.leftKeyMetrics,
.rightKeyMetrics {
  padding-left: 10px;
  background-color: #fbf8f8;
  border-radius: 15px;
  border-collapse: collapse;
  border-spacing: 0;
  height: 100%;
  width: 90%;
}

.leftKeyMetrics th,
.rightKeyMetrics th {
  font-family: "Nunito", sans-serif;
  font-size: 0.7rem;
  color: #0077b6;
}

.leftKeyMetrics th:nth-of-type(2n-1),
.rightKeyMetrics th:nth-of-type(2n-1) {
  color: #f72585;
}

.leftKeyMetrics td:nth-of-type(2n-1),
.rightKeyMetrics td:nth-of-type(2n-1) {
  color: #f72585;
}

.leftKeyMetrics td,
.rightKeyMetrics td {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  color: #0077b6;
  font-weight: bold;
}

table td,
table th {
  text-align: left;
  padding: 0.4em;
}

.keyMetricsHeading {
  margin-top: 2%;
}

.keyMetricsInnerData {
  font-size: 1.1rem;
  font-weight: normal;
}

.performance {
  display: flex;
  width: 90%;
  border-radius: 15px;
  background-color: #fbf8f8;
  margin-top: 3%;
  margin-left: 2%;
}

.performanceHeading {
  margin-top: 2%;
}

.performanceChart {
  display: flex;
  border-radius: 5%;
  height: 30%;
  width: 30%;
  padding: 2% 2%;
  margin-bottom: 10px;
  margin-right: 5%;
  margin-left: 3%;
  font-family: "Roboto Mono", monospace;
}

.totalCostHeading {
  margin-top: 2%;
}

.totalCostLeft {
  width: 33%;
  font-size: smaller;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.totalCostContainer {
  margin-left: 2%;
  margin-top: 2%;
  display: flex;
  width: 90%;
  border-radius: 15px;
  background-color: white;
}

.totalCostRightCell {
  width: 35%;
  font-size: 0.6rem;
  color: #0077b6;
}

.totalCostRightCell2 {
  font-size: 0.6rem;
  color: #0077b6;
  padding-left: 40px;
  display: inline;
}

.totalCostSelectedCell {
  font-size: 0.6rem;
  color: #0077b6;
  text-decoration: underline 2.5px solid #f72585;
  text-underline-offset: 5px;
  /* border-bottom: 2.5px solid #f72585; */
}

.totalCostLeftCell {
  width: 30%;
  font-size: 1.1rem;
  text-align: center;
  color: #f72585;
}

.vLine {
  display: inline;
  border-left: 1px solid rgb(186, 184, 184);
  height: 290px;
  margin-left: 8%;
  margin-top: 3%;
}

#totalCostGif {
  width: 100%;
  margin-top: 7%;
  margin-bottom: 7%;
}

.totalCostRightTable {
  padding: 10px;
  border-spacing: 15px;
}

#totalCostRightHorizontalRule hr {
  border: 0.1px solid rgb(186, 184, 184);
  width: 90%;
  height: 0px;
  margin-left: 10%;
}

/* Audience Insights Styling */

#audienceInsightsHeading {
  margin: 2% 0% 2% 0%;
}

.audienceInsightsContainer {
  margin-left: 2%;
  margin-top: 2%;
  width: 90%;
  border-radius: 15px;
  background-color: white;
  padding-bottom: 3%;
}

.audienceInsightsContainerTop {
  display: flex;
}

.audienceInsightsContainerBottom {
  display: flex;
  width: 100%;
  margin-right: 100%;
}

.audience1 {
  height: 50px;
}

.performanceChart {
  margin: 2%;
}

.indian-map img {
  width: 80%;
  margin-left: 2%;
}

.audienceFleets {
  margin: 5% 4% 2% 0%;
}

#audienceInsightsTable {
  width: 30%;
  margin: 3%;
  height: 30%;
}

#audienceInsightsTable td {
  border: 1px solid white;
  width: 40px;
  font-size: 0.37rem;
}

#audienceInsightsTable thead td {
  font-size: 0.42rem;
  font-weight: bold;
  background-color: #e9ecef;
  border-bottom: 3px solid white;
}

#cohortAnalysis {
  margin-left: 10%;
  font-size: 0.7rem;
  color: #219ebc;
}

.fleetChurnJourney img {
  width: 380px;
  height: 234px;
  margin-left: 10%;
}

/* Top Performing Fleets, Vehicle Models & Routes Styling */

.topPerformingFleetsHeading {
  margin: 2% 0% 2% 0%;
}

.topPerformingFleetsContainer {
  margin-left: 2%;
  margin-top: 2%;
  width: 90%;
  border-radius: 15px;
  background-color: white;
  padding-bottom: 3%;
}

.indiaImg {
  width: 75%;
  border-radius: 20px;
  margin: 15% 0 0 15%;
}

.routesImg {
  width: 80%;
  height: 75%;
  border-radius: 20px;
  margin: 15% 0 0 20%;
}

.tpfTop {
  display: flex;
}

.tpfBottom {
  display: flex;
}

.tpfTopTable {
  border-collapse: separate;
  border-spacing: 50px 0;
  margin-right: 4%;
  margin-top: 5%;
}

.tpfTopTable td {
  font-size: 0.9rem;
  color: #6c757d;
  border-bottom: 1px solid #dcddde;
  padding: 5px 20px;
}

.tpfTopTable thead td {
  font-size: 0.8rem;
  border-bottom: 2px solid #dcddde;
}

/* End of Index.css  */